## Dependencies
/vendor/
/node_modules/

## Package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## Laravel
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/logs/*.log

## Alternative public path (if used)
public_html/storage
public_html/hot

## Environment files
.env
.env.*
!.env.example

## Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

## PHPUnit / QA caches
.phpunit.result.cache
.php-cs-fixer.cache
.phpactor.json

## Project specific
/storage/pail
auth.json

## IDE / Editor
/.idea/
/.vscode/
/*.code-workspace

## OS files
.DS_Store
Thumbs.db

composer.lock
package-lock.json
